# [LOGGING]
# Level of log to save into log files.
# Valid value is one of: [0: off, 1: debug, 2: info, 3: warning, 4: error, 5: critical]
LOG_LEVEL = 2
# Maximum size of log file. (in MB)
LOG_MAX_SIZE = 1
# Maximum rotating log files.
LOG_MAX_COUNT = 3

# [RP2C]
# Address of the RP2C device (only for dstar gateway log monitoring)
GW_ADDRESS = 172.16.0.1
# Ignore the time server messages?
GW_IGNORE_TIME_MESSAGES = true

# [Telegram]
# Telegram bot token
TG_BOTTOKEN = bot_token
# Target chat where to send messages
TG_CHATID = chat_id
# Telegram topic ID (only for channels)
TG_TOPICID = topic_id